.DS_Store

#Ignored files in aws directory
/aws/package-lock.json
/aws/node_modules/*
/aws/.serverless/*
/aws/mqtt_tester/node_modules/*
/aws/mqtt_tester/certs/*
/aws/mqtt_tester/package-lock.json

#Ignored files in web_dashboard directory
/web_dashboard/node_modules/*
/web_dashboard/package-lock.json
/web_dashboard/build/*
/web_dashboard/build.zip

# Misc
keys.txt
*.pem